body {
    color: #411e0f;
    background-color: #ebebeb;
    font-family: 'Junge', serif;
}

.topshelf {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #9e0a3a;
    display: inline-block;
}


#header {
    position: absolute;
    max-height: 80px;
    width: 100%;
    background-color: #7f9F81;
    top: 0px;
    display: block

}

#headerContent {
    margin: 10px;
    display: inline-block;

}

.recipeSearchForm {
    text-align: center;
    display: block;
    margin-top: 20px;

}

.match_header{
    height: 100px;
}

.match_list {
    display: block;
    margin-top: 20px;
}

/*.recipe_match {*/
    /*margin-top: 150px;*/
/*}*/
#pantryForm {
    float:left;
    width:30%;
    text-align: center;
    height: 100%;
    padding-bottom: 300px;
    padding-left: 30px;

}

.userPantryList {
    float:left;
    max-width: 65%;
    overflow:hidden;
    display: table;
    text-align: center;
}

.foodButtons {
    /*float: right;*/
    width: auto;
    margin-right: 100px;
    display: table-cell;
    padding: 10px;
    text-transform: capitalize;
}

#login_logout {
    display: inline-block;
}

h4 {
    text-align: center;
}
.submit {
    color: #411e0f;
    border-radius: 5px;
    background-color: #fbf9d6;
    margin-top: 15px;
    margin-right: 10px;

}





