<div class='container-fluid'>
    <div id="recipeSearchForm"><form ng-submit="recipeSearchForm(queryParams, id)" >
        <h4>Setup your recipe search</h4>
        <h5>Pick 3 ingredients to use up:</h5>
        <em>Search results will display only recipes that use all three ingredients.</em><br>
        </h4>
        What can I make with:
        <select ng-model="queryParams.first" ng-options="item.ing_master.ing_test for item in pantry_data"></select> &
        <select ng-model="queryParams.second" ng-options="item.ing_master.ing_test for item in pantry_data"></select> &
        <select ng-model="queryParams.third" ng-options="item.ing_master.ing_test for item in pantry_data"></select>?
        <!-- Add other values. Diet, items to exclude. -->
        <a href="#/{{ id }}/recipe/"><input type="submit" value="Start your search"></a>
    </form></div>
    <div id="columnContainer">
        <div id="form"><form ng-submit="submitForm()" >
            <h4>Stock Your Pantry</h4>
            <div>
                Add an ingredient: <input type="text" ng-model="pantry.ing_master" typeahead="item.resource_uri as item.ing_test for item in list_items | filter:$viewValue | limitTo:30" class="form-control">
            </div>
            <br>
            <input type="submit" value="Add Ingredient">
        </form></div>
        <div id="userPantryList" ng-repeat="item in pantry_data">
            <div class="foodButtons" ng-click="deleteItem(item)">{{ item.ing_master.ing_test }}</div>
        </div>
    </div>
</div>