 <div class='container-fluid'>
<!--    Add recipe list with a dropdown window using bootstrap's accordion view, using a get request. See my sample recipe detail view -->
<div class="recipe_match" ng-repeat="item in food">

</div>

  <accordion class="recipe_match" ng-repeat="item in food" ui-if="!!item.length">
    <accordion-group>
        <accordion-heading>
            <div ng-click='loadDeets(item)'>
                <div class="match_images">
                    <img class="match_pic" src="{{ item.smallImageUrls.0 }}"/>
                </div>
                <div class="match_list">
                    <h4>{{ item.recipeName }}</h4>
                    <p>From: {{ item.sourceDisplayName }}</p>
                    <p>Rating: {{ item.rating }}/5</p>
                    <p> Time to cook: {{ item.totalTimeInSeconds/60 }} minutes</p>
                </div>
            </div>
        </accordion-heading>
        <accordion-group>
            <p>{{ recipes.deets.attribution.html }}</p>
        </accordion-group>
  </accordion-group>
</accordion>
</div>