 <div class='container-fluid'>
<!--    Add recipe list with a dropdown window using bootstrap's accordion view, using a get request. See my sample recipe detail view -->
  <accordion class="recipe_match" ng-repeat="item in food" ui-if="!!item.length">
    <accordion-group>
        <accordion-heading>
            <div ng-click='loadDeets(item)'>
                <div class="match_images">
                    <img class="match_pic" src="{{ item.smallImageUrls.0 }}"/>
                </div>
                <div class="match_list">
                    <h4>{{ item.recipeName }}</h4>
                    <p>From: {{ item.sourceDisplayName }}</p>
                    <p>Rating: {{ item.rating }}/5</p>
                    <p>Cook time: {{ item.totalTimeInSeconds/60 }} min</p>
                </div>
            </div>
        </accordion-heading>
        <accordion-group>
            hi
            <p>{{ deets.recipe_data.name }}</p>
            <p>{{ deets.recipe_data.yield }}</p>
        </accordion-group>
        </accordion-group>
</accordion>
</div>