{% extends "angular.html" %}
{% load staticfiles %}

{#Need to show list so that items can be listed, edited, or deleted #}
{% block title %}Your Pantry {% endblock %}

{% block main %}
<div class="header">Stock Your Pantry</div>
<h1>Test</h1>
{#<div ng-controller="PantryCtrl">#}
{##}
{#<form id="form" role="form">#}
{##}
{#    <div class="form-group move-down">#}
{#        <label for="Autocomplete">Generic Autocomplete</label>#}
{#        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>#}
{#    </div>#}
{#    <div>result: {{result}}</div>#}
{##}
{#</form>#}
{#</div>#}

{% endblock %}