{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}TopShelf{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

    <script type="text/javascript"  src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/index_jquery.js' %}"></script>


</head>

<body>
<div id="jumbotron">
    <div class="container home_buttons" id="button-container">
            <div id="body_text">
                <h1 class="topshelf">TopShelf</h1>
                <em><h4 class="catchPhrase">Reclaim Your Kitchen</h4></em>
            </div>
            <div id="btn_replace">
                {% block indexOptions %}
                    <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
                    <!--             <a href="#" class="btn btn-default btn-lg" id="home-button1">Login</a><br>
                   <a href="#" class="btn btn-default btn-lg" id="home-button2">Sign Up</a><br>
                    <a href="#" class="btn btn-default btn-lg" id="home-button3">About</a><br> -->
                {% endblock %}
            </div>
    </div>
</div>
<!-- FOOTER -->
<footer>
    <div id="footer">
        <div class="container">
            <h3>Say hi to us at <a href="">nom@topshelf.com</a></h3>
            {#        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>#}
        </div>
    </div>
</footer>
</body>
</html>