{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <div id="login_content">
        <form method="post">
            {% csrf_token  %}
            {{ form.username }}<br>
            {{ form.password }}
            <input type="submit" value="Sign in" />

        </form>
    </div>

{% endblock %}
{##}
{##}
{#{% extends "index.html" %}#}
{#{% load staticfiles %}#}
{##}
{#{% block indexOptions %}#}
{#    <div id="login_content">#}
{#        <form method="post">#}
{#            {% csrf_token  %}#}
{#            {{ form.username }}<br>#}
{#            {{ form.password }}#}
{#            <input type="submit" value="Sign in" />#}
{##}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}
